body{
    background: linear-gradient(180deg, rgba(33,51,99,1) 15%, rgba(23,89,74,1) 39%, rgba(142,172,80,1) 92%, rgba(211,208,79,1) 100%);
}

#navbar-links{
    height: auto;
    flex: 7;
    align-content: flex-end;
    text-align: end;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    max-width: 1000px;
    margin: 25px auto;
    background-color: rgb(64, 74, 103);
    border-radius: 8px;
    margin-top: 4rem;
}

#navbar-links img{
    height: 3rem;
    width: 3rem;
}

#navbar-links a{
    width: 200px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 179, 0);
}

#navbar-links a:hover{
    background-color: rgb(82, 99, 149);
    border-radius: 8px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 1rem;
}

#thumbnail{
    flex: 2;
    max-width: 20rem;
    height: 12rem;
}

div .placeholder{
    flex: 2;
    max-width: 6rem;
}

#text-header{
    font-size: 4rem;
    text-align: center;
    width: 100%;
    color: rgb(255, 179, 0);
}

#main{
    display: flex;
    flex-direction: row;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 6;
}

article{
    display: flex;
    flex-direction: row;
    height: 20rem;
    width: 90%;
    text-align: center;
    justify-content: center;
    background-color: #17594A;
    color: rgb(255, 179, 0);
    border-radius: 30px;
    border: 4px solid rgba(142,172,80,1);
    margin-bottom: 1rem;
}

#item{
    width: 40%;
}

#content article img{
    max-width: 40%;
    height: 80%;
    flex:1;
    margin: 2rem;
    margin-right: 5rem;
    box-shadow: 0px 0px 25px 10px #329f86;
}

div.item_info{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0;
    text-align: center;
}

h3.price{
    font-size: 1.5rem;
    margin-bottom: 0;
}

h4.discount_price{
    font-size: 1rem;
    text-decoration: line-through;
    color: gray;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

p.lowest_price{
    font-size: 0.8rem;
}

article button{
    max-width: 20rem;
    background-color: rgb(29,72,26);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 4px black;
    color: rgb(166,185,162);
}

#cart_content{
    /*align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5%;
    margin: 0 2rem;*/
    display: flex;
    flex: 3;
    white-space: pre-line;
    background-color: #17594A;
    color: rgb(255, 179, 0);
    border-radius: 30px;
    border: 4px solid rgba(142,172,80,1);
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 20px;
}

#lista div{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-bottom: 0.2rem solid rgb(28, 32, 31);
    margin: 1rem;
    padding: 0 2rem;
}


#lista div button{
    margin-top: 12px;
    width:35px;
    height:35px;
    background-color: transparent;
    color: rgb(28, 32, 31);
    font-weight: bold;
    font-size: 20px;
    box-shadow: none;
    border: none;
}

#lista div button:hover{
    background-color: #32665a;
    border-radius: 33%;
}

footer{
    background-color: #28564b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    border-radius: 8px;
}

footer p{
    color: rgb(242, 103, 33);
}

#contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

#contact-footer a{
    padding: .2rem 0 .2rem 0;
    margin: 3px;
    text-decoration: none;
    color: rgb(255, 179, 0);
}

#social-footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social-footer img{
    padding: 0 2rem 0 2rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(16, 25, 49);
    
}

::-webkit-scrollbar-thumb{
    background: rgba(211,208,79,1);
    border-radius: 8px;
}

#cart_content{
    display: flex;
    flex-direction: column;   
    text-align: center;
}

@media only screen and (max-width: 600px){

    #header{
        flex-direction: column;
        max-width: 100%;
        width: auto;
    }

    #navbar-links{
        width: 100%;
    }
}